*{
	padding: 0;
	margin: 0;
}

body {
	background-image: url(../images/lazy_cat.jpg);
}

table {
	border: 3px solid grey;
	font-size: 100px;
	border-radius: 12px;
	position: fixed;
	top: 250px;
	left: 250px;
	border-spacing: 10px;
}

.tr1 {
	text-align: center;
}

.tr2 {
	background-color: #f00;
	text-align: center;
	
}

.tr3 {
	background-color: #00f;
	text-align: center;
}

.td2-1 {
	border-radius: 12px;
}

.td2-2 {
	border-radius: 12px;
}

.td3-1 {
	border-bottom-left-radius: 12px;
	border-radius: 12px;
}

.td3-2 {
	
	background-color: #f4f442;
	border-radius: 12px;
}

.td3-3 {
	border-radius: 12px;
}