* {
	padding: 0;
	margin: 0;
}

.clear {
	clear: both;
}

body {
	background-color: #38c166;
	margin: 0px;
}

.wrapper {
	max-width: 1200px;
	margin: 15px auto;
	padding: 15px;
	background-color: #fff;
	border-radius: 20px;
}

header img {
	width: 200px;
	float: left;
}

header form {
	float: right;
	margin: 40px;
	padding: 40px;
}

header ul {
	float: left;
	font-size: 40px;
	margin-top: 70px;
	list-style: none;
}

header ul li {
	display: inline-block;
	margin: 0px auto;
	padding: 10px;
}

header ul li a {
	text-decoration: none;
	color: #a3000d;
	font-family: fantasy;
}

.columnRight {
	background-color: #f00;
	float: left;
	width: 33%;
	border: 2px solid #efab3e;
	border-radius: 10px;
	color: #efab3e;
}

.columnCentre {
	background-color: #f00;
	float: left;
	width: 33%;
	border: 2px solid #efab3e;
	border-radius: 10px;
	box-sizing: border-box;
	text-align: center;	
	color: #efab3e;
}

.columnLeft {
	background-color: #f00;
	float: right;
	width: 33%;
	border: 2px solid #efab3e;
	border-radius: 10px;
	color: #efab3e;	
}

footer {
	background-color: #efab3e;
	text-align: center;
}

footer ul {
	list-style: none;
}

footer ul li {
	display: inline-block;
	padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}

