* {
margin: 0px;
padding: 0px;
}
body {
background-color: black;
position: relative;
}
nav {
background-color: gray;
font-family: Arial, Helvetica, sans-serif;
}
nav ul li {
display: inline-block;
position: relative;
height:40px;
}
nav ul li:hover ul {
display:block;
}
nav ul li ul {
display:none;
position:absolute;
left:0;
top:40px;
width:89px;
background:grey;
}
nav ul li a {
color:#fff;
text-decoration:none;
height:40px;
line-height:40px;
display:inline-block;
padding-left:10px;
padding-right:10px;
}
nav ul li a:hover {
background-color:red;
}


@-webkit-keyframes rotating /* Safari and Chrome */ {
from {
-webkit-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
}
to {
-webkit-transform: rotate(-1440deg);
-o-transform: rotate(-1440deg);
transform: rotate(-1440deg);
}
0% {left:0vw; top:8vh;}
25% {left:92vw; top:8vh;}
50% {left:92vw; top: 87vh;}
75% {left:0vw; top:87vh;}
100% {left:0vw; top:8vh;}
} 
@keyframes rotating {
from {
-ms-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-webkit-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
}
to {
-ms-transform: rotate(-1440deg);
-moz-transform: rotate(-1440deg);
-webkit-transform: rotate(-1440deg);
-o-transform: rotate(-1440deg);
transform: rotate(-1440deg);
}
0% {left:1vw; top:8vh;}
25% {left:92vw; top:8vh;}
50% {left:92vw; top: 87vh;}
75% {left:1vw; top:87vh;}
100% {left:1vw; top:8vh;}
}



div.firstBox, div.secondBox {
-webkit-animation: rotating 1s linear infinite;
-moz-animation: rotating 6s linear infinite;
-ms-animation: rotating 6s linear infinite;
-o-animation: rotating 6s linear infinite;
animation: rotating 6s linear infinite;
animation-name: rotating;
-animation-duration: 6s;
animation-iteration-count: infinite;
position: fixed;
width: 6.6vw; 
height: 11vh;
line-height: 10vh;
font-size: 1.5vw;
text-align: center; 
background-color: yellow; 
color: red;
}
div.secondBox {
background-color: red;
color: yellow;
animation-delay: 3s;
}