* {
	margin: 0px;
	padding: 0px;
}
.clear {
	clear: both;
}
.wrapper {
	width: 1000px;
	margin: 0px auto;
}
header {
	background-color: #f00;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 1000;
}
header a {
	float: left;
}
header img {
	width: 150px;
}
header form {
	float: right;
	padding-top: 30px;
	margin-top: 30px;
}
p {
	margin-left: 0px;
	margin-top: 20px;
}
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-top: 170px;
	bottom: 10px;
}
.button {
	background-color: #f00;
	width: 100px;
	height: 100px;
	position: fixed;
	bottom: 0px;
	right: 0px;
	border-radius: 50%;
	display: block;
	text-align: center;
	padding: 20px;
}
.box {
	height: 200px;
	width: 100%;
	border: 1px solid #000;
	border-radius: 5px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
.redElement {
	width: 100px;
	height: 100px;
	background-color: #f00;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	top: 50px;
	left: 420px;
	z-index: 1;
	
}
.redElement:hover {
	background-color: #000;
	z-index: 4;
	top: 30px;
	left: 400px;
	width: 190px;
	height: 150px;
	color: #fff;
}
.blueElement {
	width: 100px;
	height: 100px;
	background-color: #00f;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	top: 60px;
	left: 430px;
	z-index: 2;
	
}
.blueElement:hover {
	background-color: pink;
	z-index: 4;
	top: 30px;
	left: 400px;
	width: 190px;
	height: 150px;
}
.greenElement {
	width: 100px;
	height: 100px;
	background-color: #0f0;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	top: 70px;
	left: 440px;
	z-index: 3;
}
.greenElement:hover {
	background-color: brown;
	z-index: 4;
	top: 30px;
	left: 400px;
	width: 190px;
	height: 150px;
}



