

* {
	margin: 0px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

.clear {
	clear: both;
}

.clearfix {
	&:after {
	content: '';
	clear: both;
	display: table;
	}
}

.padd {
	padding-left: 60px;
	padding-right: 60px;
}

.h3 {
	display: inline-block;
	position: relative;
	height: 25px;
	font-size: 30px;
	font-family: Segoe UI Light, sans-serif;
	font-weight: 500;
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 40px;
		width: 44px;
		height: 2px;
	}
}

.column {
	width: 50%;
	height: auto;
	position: relative;
	top: 50px;	
	padding-left: 0px;
	padding-right: 20px;
}
.left {
	float: left;
}
.right {
	float: right;
}


#pictures {
	//padding: 0px;
	div.slide {
		min-height: 810px;
		width: 100%;
		display: block;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		//padding: 0px;
	}
}	

.looking {
	width: 100vw;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -15%);
	h2 {
	height: 66px;
	display: inline-block;
	color: #fff;
	font-family: Segoe UI Light, sans-serif;
	font-size: 42px;
	font-weight: 300;
		span {
			display: block;
			background-color: #353f46;
			margin-top: 17px;
			padding: 10px;
			line-height: 42px;
			text-align: center;
		}
	}
}
header {
	width: 100%;
	min-height: 150px;
	position: fixed;
	top: 0px;
	background-color: rgba(53, 63, 70, 0.85);	
	z-index: 1;

	nav {
		width: 100%;		
		min-height: 150px;
		position: absolute;
		padding-top: 64px;
		padding-bottom: 64px;
		padding-left: 60px;
		padding-right: 60px;
		z-index: 2;
		h1 {
			width: 128px;
			height: 22px;
			display: inline-block;	
			float: left;	
			background-image: url('../images/logo_top.png');
			background-repeat: no-repeat; 
			a {
				display: block;
				text-indent: -1000px;
			}
		}
		ul {
			float: right;
			li {
				display: inline-block;
				padding-left: 50px;
				a {
					color: #fff;
					font-family: Segoe UI Bold, sans-serif;
					font-size: 14px;
					font-weight: bold;	
					&:hover {
						color: #4bcaff;
						//width: 88px;	
						//height: 36px;
						//display: block;		
						//border: 2px solid #4bcaff;
						//line-height: 36px;
						//text-align: center;				
					}
					&:target {
						height: 36px;
						width: 88px;
						color: #4bcaff;	
						display: block;
						border: 2px solid #4bcaff;
						line-height: 36px;
						text-align: center;				
					}
				}
			}
		}
	}
}

#blue_services {
	min-height: 400px;
	width: auto;
	background-color: #4bcaff;
	padding-top: 80px;
	padding-right: 40px;
	padding-bottom: 80px;
	h3 {
		color: #fff;
		&:after {
			background-color: #fff;
		}
	}
	ul {
		//.clearfix;
		li {
			width: 25%;
			color: #fff;
			position: relative;
			left: -40px;
			top: 44px;
			display: inline-block;
			float: left;
			padding-right: 20px;
			&:nth-child(2) span {
				background-image: url('../images/instant_icon.png');
			}
			&:nth-child(3) span {
				background-image: url('../images/serious_icon.png');
			}
			&:nth-child(4) span {
				background-image: url('../images/frame_icon.png');
			}
			span {
				height: 50px;
				width: 50px;
				display: inline-block;
				background-image: url('../images/coffee_icon.png');
				background-repeat: no-repeat; 
			}
			h4 {
				margin-top: 22px;
				margin-bottom: 20px;
				a {
					color: #fff;
					font-family: Segoe UI Semibold, sans-serif;
					font-size: 24px;
					text-align: left;	
				}
			}
		}
	}
}

#john_doe {
	min-height: 500px; 
	width: auto;
	padding-top: 96px;
	padding-bottom: 96px;
	background-image: url('../images/photographer_2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	//display: flex;
	h3 {
		color: #fff;
		&:after {
			background-color: #fff;
		}
	}
	p {
		color: #fff;
		font-family: Segoe UI Semibold, sans-serif;
		font-size: 12px;
		text-align: left;
		}
	div.right a {
		position: relative;
		left: -20px;
		display: inline-block;
	
		&:nth-child(2) span {
			background-image: url('../images/social_icon_2.png');
		}
		&:nth-child(3) span {
			background-image: url('../images/social_icon_3.png');
		}
		&:nth-child(4) span {
			background-image: url('../images/social_icon_4.png');
		}
 		span {
 			height: 70px;
			width: 70px;
			display: inline-block;
			//padding-right: 35px;
			background-image: url('../images/social_icon_1.png');
			background-repeat: no-repeat;
		}
	}
}

#slide_testimonials {
	min-height: 360px;
	width: auto;
	position: relative;
	background-color: #fff;
	padding-top: 80px;
	padding-bottom: 80px;
	p:first-child {
		display: block;
	}
	h3 {
		color: #515f67;
		&:after {
			background-color: #515f67;
		}
	}
	h6 {
		height: 30px;
		position: relative;
		display: inline-block;
		float: right;
	}
	p {
		display: none;
		color: #515f67;
		font-family: Segoe UI Light, sans-serif;
		font-size: 28px;
		font-weight: 500;
	}
	span {
		position: relative;
		top: 40px;
		display: block;
		color: #4bcaff;
		font-family: Segoe UI Bold, sans-serif;
		font-size: 14px;
		font-weight: bold;
	}
}

footer {
	height: 166px;
	width: auto;
	background-color: #353f47;	
	//padding-right: 60px;
	//padding-left: 60px;

	ul.footer {
		li {
			position: relative;
			left: -40px;
			top: 76px;
			display: inline-block;
			padding-right: 10px;
			color: #515f67;
			font-family: Myriad Pro Regular, sans-serif;
			font-size: 12px;
			a {
				color: #515f67;
			}
		}
	}
	h6 {
		position: relative;
		top: 76px;
		display: inline-block;
		float: right;
		height: 12px;
	}
}

@media screen and (max-width: 860px) {
	#blue_services {
		height: auto;
	}
	#blue_services ul li {
		width: 50%;
		margin-top: 20px;
		display: block;
	}
	header {
		height: 200px;
	}
	header nav {
		height: 200px;
		h1 {
			display: block;
		}
		ul {
			float: left;
			margin-top: 25px;
			li {
				padding-left: 0px;
				padding-right: 50px;
			}
		}
	}
}

@media screen and (max-width: 460px) {
	#blue_services h3.h3 {
		
	}
	#blue_services ul li {
		width: auto;
		display: block;
		float: none;
		h4 {
			text-align: center;
			margin-top: 11px;
		}
		span {
			position: relative;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
		p {
			text-align: center;
			padding-bottom: 30px;
		}

	}

	#john_doe {
		display: block;
		div.right,
		div.left {
			width: auto;
			float: none;
			padding-top: 30px;
		}
		div.right a {
			//display: block;
			width: 50%;
			float: left;
			margin-left: 40%;
		}
	}

}