* {
  margin: 0px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.clear {
  clear: both;
}
.clearfix:after {
  content: '';
  clear: both;
  display: table;
}
.padd {
  padding-left: 60px;
  padding-right: 60px;
}
.h3 {
  display: inline-block;
  position: relative;
  height: 25px;
  font-size: 30px;
  font-family: Segoe UI Light, sans-serif;
  font-weight: 500;
}
.h3:after {
  content: '';
  display: block;
  position: absolute;
  top: 40px;
  width: 44px;
  height: 2px;
}
.column {
  width: 50%;
  height: auto;
  position: relative;
  top: 50px;
  padding-left: 0px;
  padding-right: 20px;
}
.left {
  float: left;
}
.right {
  float: right;
}
#pictures div.slide {
  min-height: 810px;
  width: 100%;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.looking {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -15%);
}
.looking h2 {
  height: 66px;
  display: inline-block;
  color: #fff;
  font-family: Segoe UI Light, sans-serif;
  font-size: 42px;
  font-weight: 300;
}
.looking h2 span {
  display: block;
  background-color: #353f46;
  margin-top: 17px;
  padding: 10px;
  line-height: 42px;
  text-align: center;
}
header {
  width: 100%;
  min-height: 150px;
  position: fixed;
  top: 0px;
  background-color: rgba(53, 63, 70, 0.85);
  z-index: 1;
}
header nav {
  width: 100%;
  min-height: 150px;
  position: absolute;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 60px;
  padding-right: 60px;
  z-index: 2;
}
header nav h1 {
  width: 128px;
  height: 22px;
  display: inline-block;
  float: left;
  background-image: url('../images/logo_top.png');
  background-repeat: no-repeat;
}
header nav h1 a {
  display: block;
  text-indent: -1000px;
}
header nav ul {
  float: right;
}
header nav ul li {
  display: inline-block;
  padding-left: 50px;
}
header nav ul li a {
  color: #fff;
  font-family: Segoe UI Bold, sans-serif;
  font-size: 14px;
  font-weight: bold;
}
header nav ul li a:hover {
  color: #4bcaff;
}
header nav ul li a:target {
  height: 36px;
  width: 88px;
  color: #4bcaff;
  display: block;
  border: 2px solid #4bcaff;
  line-height: 36px;
  text-align: center;
}
#blue_services {
  min-height: 400px;
  width: auto;
  background-color: #4bcaff;
  padding-top: 80px;
  padding-right: 40px;
  padding-bottom: 80px;
}
#blue_services h3 {
  color: #fff;
}
#blue_services h3:after {
  background-color: #fff;
}
#blue_services ul li {
  width: 25%;
  color: #fff;
  position: relative;
  left: -40px;
  top: 44px;
  display: inline-block;
  float: left;
  padding-right: 20px;
}
#blue_services ul li:nth-child(2) span {
  background-image: url('../images/instant_icon.png');
}
#blue_services ul li:nth-child(3) span {
  background-image: url('../images/serious_icon.png');
}
#blue_services ul li:nth-child(4) span {
  background-image: url('../images/frame_icon.png');
}
#blue_services ul li span {
  height: 50px;
  width: 50px;
  display: inline-block;
  background-image: url('../images/coffee_icon.png');
  background-repeat: no-repeat;
}
#blue_services ul li h4 {
  margin-top: 22px;
  margin-bottom: 20px;
}
#blue_services ul li h4 a {
  color: #fff;
  font-family: Segoe UI Semibold, sans-serif;
  font-size: 24px;
  text-align: left;
}
#john_doe {
  min-height: 500px;
  width: auto;
  padding-top: 96px;
  padding-bottom: 96px;
  background-image: url('../images/photographer_2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#john_doe h3 {
  color: #fff;
}
#john_doe h3:after {
  background-color: #fff;
}
#john_doe p {
  color: #fff;
  font-family: Segoe UI Semibold, sans-serif;
  font-size: 12px;
  text-align: left;
}
#john_doe div.right a {
  position: relative;
  left: -20px;
  display: inline-block;
}
#john_doe div.right a:nth-child(2) span {
  background-image: url('../images/social_icon_2.png');
}
#john_doe div.right a:nth-child(3) span {
  background-image: url('../images/social_icon_3.png');
}
#john_doe div.right a:nth-child(4) span {
  background-image: url('../images/social_icon_4.png');
}
#john_doe div.right a span {
  height: 70px;
  width: 70px;
  display: inline-block;
  background-image: url('../images/social_icon_1.png');
  background-repeat: no-repeat;
}
#slide_testimonials {
  min-height: 360px;
  width: auto;
  position: relative;
  background-color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
}
#slide_testimonials p:first-child {
  display: block;
}
#slide_testimonials h3 {
  color: #515f67;
}
#slide_testimonials h3:after {
  background-color: #515f67;
}
#slide_testimonials h6 {
  height: 30px;
  position: relative;
  display: inline-block;
  float: right;
}
#slide_testimonials p {
  display: none;
  color: #515f67;
  font-family: Segoe UI Light, sans-serif;
  font-size: 28px;
  font-weight: 500;
}
#slide_testimonials span {
  position: relative;
  top: 40px;
  display: block;
  color: #4bcaff;
  font-family: Segoe UI Bold, sans-serif;
  font-size: 14px;
  font-weight: bold;
}
footer {
  height: 166px;
  width: auto;
  background-color: #353f47;
}
footer ul.footer li {
  position: relative;
  left: -40px;
  top: 76px;
  display: inline-block;
  padding-right: 10px;
  color: #515f67;
  font-family: Myriad Pro Regular, sans-serif;
  font-size: 12px;
}
footer ul.footer li a {
  color: #515f67;
}
footer h6 {
  position: relative;
  top: 76px;
  display: inline-block;
  float: right;
  height: 12px;
}
@media screen and (max-width: 860px) {
  #blue_services {
    height: auto;
  }
  #blue_services ul li {
    width: 50%;
    margin-top: 20px;
    display: block;
  }
  header {
    height: 200px;
  }
  header nav {
    height: 200px;
  }
  header nav h1 {
    display: block;
  }
  header nav ul {
    float: left;
    margin-top: 25px;
  }
  header nav ul li {
    padding-left: 0px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 460px) {
  #blue_services ul li {
    width: auto;
    display: block;
    float: none;
  }
  #blue_services ul li h4 {
    text-align: center;
    margin-top: 11px;
  }
  #blue_services ul li span {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #blue_services ul li p {
    text-align: center;
    padding-bottom: 30px;
  }
  #john_doe {
    display: block;
  }
  #john_doe div.right,
  #john_doe div.left {
    width: auto;
    float: none;
    padding-top: 30px;
  }
  #john_doe div.right a {
    width: 50%;
    float: left;
    margin-left: 40%;
  }
}
