* {
    margin: 0px;
    padding: 0px;
}
.wrapper {
    /*width: 70%;
    margin-left: 15%;*/
    max-width: 1000px;
    margin: 0px auto;
}
div.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #000;
    opacity: 0.9;
}
div.modal {
    width: 600px;
    height: 300px;
    position: fixed;
    z-index: 2;
    background-color: #fff;
    left: 50%;
    margin-left: -300px;
    top: 50%;
    margin-top: -150px;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0px 0px 15px #888888;
   	font-family: 'Dancing Script', cursive;
   	color: #37383a;
}
